<div class="container h-75">
<div class="card my-5">
    <div class="card-body">
      <div class="card-body">
        <div class = "container d-flex justify-content-around mb-2">
          <h2><u>Alumnos</u></h2>
          <div>
            <a routerLink="/addalumno" class="btn btn-danger colorRojoOscuro">Añadir un Alumno</a>
          </div>
        </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">dni</th>
            <th scope="col">nombre</th>
            <th scope="col">usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td>{{ alumno.id }}</td>
            <td>{{ alumno.dni }}</td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.nUsuario }}</td>
            <!-- 
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target] = "'#editarAlumno' + alumno.id">
                Editar
              </button>
              
              <div class="modal" id="editarAlumno{{alumno.id}}" tabindex="-1" aria-labelledby="editarAlumno" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edita el alumno</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>
                        </span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form (ngSubmit)="onSubmit(alumno.id)" #alumnoForm="ngForm">
                        
                        <div class="form-group">
                          <label for="dni">DNI</label>
                          <input 
                          type="text" 
                          class="form-control" 
                          name="dni"
                          id="dni" placeholder="inserta el dni nuevo"  
                          [(ngModel)]="alumnoEdit.dni" 
                          required #dni="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input 
                          type="text" 
                          class="form-control" 
                          id="nombre" 
                          name="nombre"
                          placeholder="inserta el nombre nuevo" 
                          [(ngModel)]="alumnoEdit.nombre" 
                          required #nombre="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="nUsuario">Usuario</label>
                          <input 
                          type="text" 
                          class="form-control" 
                          id="nUsuario" 
                          name="nUsuario"
                          placeholder="inserta el nombre de usuario nuevo" 
                          [(ngModel)]="alumnoEdit.nUsuario" 
                          required #nUsuario="ngModel">
                        </div>
                        <div class="form-group">
                          <label for="contrasenia">Contraseña</label>
                          <input
                          type="password" 
                          class="form-control" 
                          id="contraseña" 
                          name="contrasenia"
                          placeholder="inserta la nueva contraseña" 
                          [(ngModel)]="alumnoEdit.contrasenia" 
                          required #contrasenia="ngModel">
                        </div>
                        <div class = "container">
                          <button type="submit" class="btn btn-primary" [disabled]="!alumnoForm.form.valid" onclick="location.reload()">Enviar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-danger" (click)='alumnoDelete(alumno.id)'>Borrar</button>
            </td>
            -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

