<nav class="navbar navbar-expand-lg navbar-dark colorRojoOscuro" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand" href="#">Banco De Libros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav" id="navbarNav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!authService.comprobarSiRol()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="!authService.comprobarSiRol()">Registrate</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.comprobarSiRol()">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{authService.getUserName()}} <i class="fas fa-chevron-down"></i> 
          </a>
          <ul class="dropdown-menu dropdownCustom colorRojoOscuro" aria-labelledby="navbarDropdown">
            <li class="nav-item" *ngIf="authService.comprobarRolAdmin()">
              <a class="nav-link" routerLink="/addlibro">Añadir libro</a>
            </li>
            <li class="nav-item" *ngIf="authService.comprobarRolUser()">
              <a class="nav-link">Recogidas</a>
            </li>
            <li class="nav-item" *ngIf="authService.comprobarRolAdmin()">
              <a class="nav-link">Depositos</a>
            </li>
            <li class="dropdown-divider bg-light"></li> 
            <li class="nav-item">
              <a class="nav-link" (click)="authService.logout()" routerLink="/libros" *ngIf="authService.comprobarSiRol()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>