<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">dni</th>
            <th scope="col">nombre</th>
            <th scope="col">usuario</th>
            <th scope="col">contraseña</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td>{{ alumno.id }}</td>
            <td>{{ alumno.dni }}</td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.nUsuario }}</td>
            <td>{{ alumno.contrasenia }}</td>
          </tr>
          <tr>
            <td>
              <a routerLink="/addalumno" class="btn btn-info">Add alumno</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
