<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand" href="#">BancoDeLibrosApp</a>
    <div>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#">Añadir libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Recogidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Depositos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="sessionStorage.clear()" routerLink="/">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrate</a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">User</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>