<div class="container h-75">
<div class="card my-5">
    <div class="card-body">
      <div class = "container d-flex justify-content-around mb-2">
        <h2><u>Admins</u></h2>
        <div>
          <a routerLink="/addadmin" class="btn btn-danger colorRojoOscuro">Añadir un Admin</a>
        </div>
      </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">dni</th>
            <th scope="col">nombre</th>
            <th scope="col">nº de colegiado</th>
            <th scope="col">usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins">
            <td>{{ admin.id }}</td>
            <td>{{ admin.dni }}</td>
            <td>{{ admin.nombre }}</td>
            <td>{{ admin.nColegiado }}</td>
            <td>{{ admin.nUsuario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
