<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">dni</th>
            <th scope="col">nombre</th>
            <th scope="col">nº de colegiado</th>
            <th scope="col">usuario</th>
            <th scope="col">contraseña</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins">
            <td>{{ admin.id }}</td>
            <td>{{ admin.dni }}</td>
            <td>{{ admin.nombre }}</td>
            <td>{{ admin.n_colegiado }}</td>
            <td>{{ admin.nUsuario }}</td>
            <td>{{ admin.contrasenia }}</td>
          </tr>
          <tr>
            <td>
                <a routerLink="/addadmin" class="btn btn-info">Add Admin</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

