<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #alumnoForm="ngForm">
        <div class="form-group">
          <label for="name">dni</label>
          <input type="text" [(ngModel)]="alumno.dni"
            class="form-control" 
            id="dni" 
            name="dni" 
            placeholder="inserta tu dni"
            required #dni="ngModel">
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" [(ngModel)]="alumno.nombre"
            class="form-control" 
            id="nombre" 
            name="nombre" 
            placeholder="inserta el nombre"
            required #nombre="ngModel">
        </div>
        <div class="form-group">
          <label for="nUsuario">Nombre de usuario</label>
          <input type="text" [(ngModel)]="alumno.nUsuario"
            class="form-control" 
            id="nUsuario" 
            name="nUsuario" 
            placeholder="inserta el nombre de usuario"
            required #nUsuario="ngModel">
        </div>
        <div class="form-group">
          <label for="contrasenia">Contraseña</label>
          <input type="text" [(ngModel)]="alumno.contrasenia"
            class="form-control" 
            id="contrasenia" 
            name="contrasenia" 
            placeholder="inserta tu contraseña"
            required #contrasenia="ngModel">
        </div>
        
        <button type="submit" [disabled]="!alumnoForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

